@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Add New Code Below ===== */

html, body {
  margin: 0;
  padding: 0;
}

/* img {
  object-fit: cover;
} */

.category-heading {
  @apply bg-white text-black text-2xl font-bold p-3 pt-5 pl-5 shadow-inner;
}

.category-items {
  @apply relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto p-4 pb-10;
}